body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

h1 {
    text-align: center;
    color: #ffffff;
    border-bottom: 2px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(173, 216, 230, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#resultado {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(173, 216, 230, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

#resultado ul {
    list-style: none;
    padding: 0;
}

#resultado li {
    margin-bottom: 10px;
}
